.navbar-brand {
    width: 50px;
    height: 40px;
    font-size: .625rem;
    font-weight: 400;
    word-wrap: break-word;
    line-height: .75rem;
    margin-right: 0;
}

.page-title {
    font-size: $font-size-lg;
    color: $color-art-primary;
    margin-bottom: 0;
}